/* Font - family */

$basic-font: 'Poppins', sans-serif;

/* Theme - colors */

$bg-gray: #E7ECF5;
$white: #FFFFFF;

$green: #7ED321;
$blue: #4A90E2;
$orange: #FFBE33;
$red: #D83550;

$dark-gray: #474747;
$gray: #CCD1D9;
